:root {
    --main-bg-color: #120000;
    --main-bg-color-fade-5: rgba(18, 0, 0, 0.51);
    --primary-color: #ff213c;
    --primary-shade-color: #d41c32;
    --secundary-color: #57417a;
    --secundary-shade-color: #3e8d2d;

}

body, html {
    font-family: arial, sans-serif;
    background-color: var(--main-bg-color);
    color: #fff;
    margin: 0;

}
h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

h1 {font-size: 4em;}  h2 {font-size: 3.5em;}  h3 {font-size: 2.8em;}

h4 {font-size: 2.4em;}  h5 {font-size: 1.9em;}  h6 {font-size: 1.5em;}

.flip-image {
    transform: scaleX(-1);
    -o-transform:  scaleX(-1);
    -moz-transform:  scaleX(-1);
    -webkit-transform:  scaleX(-1);
}
.container {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    min-width: 100%;
}

/* navigation */
header {
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    z-index: 1;
}
    header > nav {
    }

    header > nav > ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        justify-content: center;
    }

    header > nav > ul > li {
        margin: 0 2% ;
    }

    header > nav > ul > li.brand {
        max-width: 10%;
    }

    header > nav > ul > li:hover,
    header > nav > ul > li:hover > a {

    }

    header > nav > ul > li > a {
        text-decoration: none;
        font-size: 1.2em;
        color: #fff;
        display: block;
        padding: 20px;
    }



/* slider */
.slider {

}

.slider > .slide {
    max-height: 100vh;
    height: 100vh;
    position: relative;
}

    .slider > .slide > img {
        width: 100%;
        max-height: 100vh;
    }

    .slider >.slide > .slide-caption {
        background-color: var(--main-bg-color);
        border-left: 5px solid var(--primary-color);
        color: #fff;

        position: absolute;
        top: 15%;
        left: 4%;

        width: 25%;
        padding: 25px;
    }

    .slider > .slide > .slide-caption h1 {
        color: var(--primary-color);
        font-size: 4em;
        margin: 0;
    }

    .slider > .slide > .slide-caption p {

    }



/* home */

/* season */
.season > h6, .season p {
    margin: 0.8em 0;
}
    .season > .episodes {
        position: relative;
        height: 450px;
        overflow: hidden;
    }

    #episode-number {
        position: absolute;
        right: 0;
        background: rgba(0,0,0,0.4);
        padding: 10px;
        z-index: 2;
    }

    .season > .episodes,
    .season > .episodes > .episode {
        margin: 0;
        width: 100%;
    }

    .season > .episodes > .episode {
        position: absolute;
        height: 450px;
        z-index: 0;
    }

    .season > .episodes > .episode > img {
        width: 100%;
        margin-top: -7%;
    }

    .season > .episodes > .episode figcaption {
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0,0.8);
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .season > .episodes > .episode > img {
        transition: transform 0.5s;
        -o-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
    }
    .season > .episodes > .episode > img:hover {
        transform: scale(1.1);
        -o-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
    .controls {
        position: absolute;
        width: 100%;
        bottom: 50%;
    }

    .controls > button {
        background: #fff;
        padding: 0.8em;
        border: none;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        font-weight: bold;
        font-size: 16px;
        width: 35px;

    }
    .controls > button:hover {
        color: #ff213c  ;
    }

    .controls .next {
        position: absolute;
        right: 0;
    }


    #episodes-group > .controls {
        z-index: 3;
    }
    #episodes-group > .episode {
        position: absolute;
        top: 0;
        opacity:0;
        transition: opacity 0.5s;
    }

    #episodes-group > .episode:first-of-type {
        z-index: 2;
        opacity: 1;
    }



/* characters */
#character-profile > .character {
    position: relative;
    margin-bottom: 250px;
    display: flex;
}
    #character-profile > .character > figure {
        overflow: hidden;
        height: 450px;
        margin: 0;

    }

    #character-profile > .character > figure > img {
    }

    #character-profile > .character > .character-bio {
        position: absolute;
        right: -50px;
        top: 45%;
        height: 250px;

        background-color: #0d0a12;
        padding: 25px;
        width: 25%;

        border-top: 10px solid var(--primary-color);

    }

/* shop */
#webshop > .shop {
    display: flex;
    flex-wrap: wrap;
}

    .shop > .shop-item {
        position: relative;
        width: 27%;
        background-color: #0d0a12;
        margin: 2% 1%;
        padding: 2%;
    }

    .shop > .shop-item > .price-tag {
        background-color: var(--secundary-color);
        position: absolute;
        right: 10px;
        top: -40px;
        z-index: 2;

        height: 60px;
        width: 48px;
        padding: 10px;
    }

    .shop > .shop-item > .price-tag > .amount {
        position: absolute;
        bottom: 10px;
    }

    .shop > .shop-item figure {
        max-width: 250px;
        margin: 0 auto;
        transition: transform 0.2s;
        -o-transition:  transform 0.2s;
        -moz-transition:  transform 0.2s;
        -webkit-transition:  transform 0.2s;
        z-index: 1;
        cursor: pointer;
    }

    .shop > .shop-item figure:hover {
        transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }

    .shop > .shop-item > figure > img {
        width: 100%;
    }

    .shop > .shop-item > .description {
        position: relative;
        font-style: italic;
        text-align: center;
        margin-top: 20px;
        min-height: 75px;
        z-index: 2;
    }

    .shop > .shop-item > button {
        background-color: var(--primary-shade-color);
        border-color: var(--primary-color);
        color: #fff;
        padding: 10px;
        width: 100%;
        font-weight: bold;
        cursor: pointer;
        margin-top: 10px;
    }
